<h1>Edit</h1>

<%= form_tag("/users", method: "POST") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email") %>
  <%= email_field_tag(:email) %>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("save") %>
<% end %>

<h1>user</h1>
<p><%= @user.username %></p>
<p><%= @user.email %></p>
